h1 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 200%;
    border-color: red white; 
    border-style: solid;  
    background-color:white; 
   } 
h2 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 125%;
    border-color:red white;
    border-style: dotted; 
    padding: 7px;
    background-color:white; 
    font-style: italic;
   } 
p {
    font-family: 'Times New Roman', Times, sans-serif; 
    font-size: 14pt; 
   }
#mbutton{ 
    width: 25px;
    height: 25px;
    text-size-adjust: 16pt;
    margin:0; 
    font: size 14px; 
    color:rgb(0, 0, 0); 
    background-color:white; 
    border-color: gray;
    border-style: dotted;
    padding: 1px;
    }
#addbutton{ 
    width: 25px;
    height: 25px;
    margin:0; 
    font: size 14px; 
    color:rgb(0, 0, 0); 
    background-color:white; 
    border-color: gray;
    border-style: dotted;
    padding: 1px;
    }
#subtbutton{
    width: 25px;
    height: 25px;
    margin:0; 
    font: size 14px; 
    color:rgb(0, 0, 0); 
    background-color:white; 
    border-color: gray;
    border-style: dotted;
    padding: 1px;
    }
#one{
    width: 50px;
    height: 25px;
    margin:0; 
    font: size 14px; 
    color:rgb(0, 0, 0); 
    background-color:white; 
    border-color: gray;
    border-style: dotted;
    padding: 1px;
} 